{#
	{{site.anchor("Pillar Header")}}
	{% include full ~ "pillar-header.twig" with {
		title: "Enhance Our Path",
        description: "Adapt our campus to an ever-expanding intellectual frontier.",
        image: 2,
        link: {
            href: "#",
            label: "Explore This Initiative",
            icon: "arrow_down"
        }
	} %}
#}

<div class="pillar_header">

    <div class="pillar_header_media js-background" data-background-options='{"source":{"0px":"//images.fastspot.com/{{vars.images}}/{{img.portraitFull.med}}/{{image}}", "500px":"//images.fastspot.com/{{vars.images}}/{{img.full.med}}/{{image}}", "740px":"//images.fastspot.com/{{vars.images}}/{{img.full.xlrg}}/{{image}}", "1220px":"//images.fastspot.com/{{vars.images}}/{{img.wide.xlrg}}/{{image}}"},"alt":"{{title}} - {{description}}"}'>

        <div class="pillar_header_content">

            <div class="fs-row">

                <div class="pillar_header_inner">

                    <div class="fs-cell fs-md-5 fs-lg-7 fs-xl-6">
                       
                        <header class="pillar_heading">
                            <h1 class="pillar_header_headline">{{title}}</h1>
                            <span class="pillar_header_description">{{description}}</span>
                        </header>
                        <div class="pillar_header_cta">
                            <span class="pillar_header_icon">
                                {{site.icon(link.icon)}}
                            </span>
                            <a class="pillar_header_link" href="{{link.href}}"><span class="pillar_header_cta_label">{{link.label}}</span></a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>