{#
	{% include "../partials/handle.twig" with {
		class: "mobile_sidebar",
		modifier: "primary",
		label: "Menu"
	} %}
#}

<button class="js-{{class|replace({"_": "-"})}}-handle {{class}}_handle {{class}}_handle_{{modifier}}">
	<span class="{{class}}_handle_icon {{class}}_handle_icon_open">{{site.icon("menu")}}</span>
	<span class="{{class}}_handle_icon {{class}}_handle_icon_close">{{site.icon("close")}}</span>
	<span class="{{class}}_handle_label {{class}}_handle_label_{{modifier}}">{{label}}</span>
</button>
